a{
    display: inline-block;
    padding: 0.6em 0.6em;
    font-family: Arial;
    background: #febe01;
    text-decoration: none;
    color: #332200;
    border-radius:4px;
}

h1{
    font-family: Arial;
    color: #111;    
}

div{
    background: #111;
    padding: 10px 30px 30px 30px;
    margin: 15px;
    border-radius:4px;
}

p{
    color: #b2b2b2;
    font-family: Arial;
}

.destaque_amarelo{
    color:#febe01
}